body{
margin:0;
font-family:Arial;
background:#07070b;
color:white;
}

/* TOP BAR */
.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px 20px;
background:#111;
border-bottom:1px solid #222;
}

.left{
display:flex;
align-items:center;
gap:10px;
}

.pfp{
width:38px;
height:38px;
border-radius:50%;
}

.logo{
font-weight:bold;
color:#00ff88;
}

.btn.small{
padding:6px 12px;
border:1px solid #00ff88;
color:#00ff88;
text-decoration:none;
}

/* NAV */
.nav{
display:flex;
gap:10px;
padding:15px;
justify-content:center;
}

.nav button{
background:#111;
border:1px solid #222;
color:white;
padding:10px 15px;
cursor:pointer;
transition:0.2s;
}

.nav button:hover{
border-color:#00ff88;
color:#00ff88;
}

/* PAGES */
.content{
padding:40px;
}

.page{
display:none;
animation:fade 0.3s ease;
}

.page.active{
display:block;
}

@keyframes fade{
from{opacity:0; transform:translateY(10px);}
to{opacity:1; transform:translateY(0);}
}

/* CARDS */
.card{
background:#12121a;
padding:15px;
margin:10px 0;
border-left:3px solid #00ff88;
}
