body{
margin:0;
font-family:Arial;
background:#0b0b0f;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 25px;
background:#111;
position:sticky;
top:0;
}

.left{
display:flex;
align-items:center;
gap:10px;
}

.pfp{
width:40px;
height:40px;
border-radius:50%;
}

.name{
font-weight:bold;
}

.login-btn{
color:white;
text-decoration:none;
padding:8px 15px;
border:1px solid white;
}

section{
padding:60px 20%;
}

h2{
color:#00ff88;
}

#home{
text-align:center;
padding:120px 20px;
}

#home h1{
font-size:32px;
}

.card{
background:#15151d;
padding:15px;
margin:10px 0;
border-left:3px solid #00ff88;
}
