body{
margin:0;
font-family:Arial;
background:#0a0a0f;
color:white;
}

/* TOPBAR */
.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px 20px;
background:#111;
border-bottom:1px solid #222;
}

.left{
display:flex;
align-items:center;
gap:10px;
}

.pfp{
width:40px;
height:40px;
border-radius:50%;
}

.logo{
color:#00ff88;
font-weight:bold;
}

.tag{
color:#888;
font-size:12px;
margin-left:8px;
}

/* BUTTONS */
.btn.small{
padding:6px 12px;
border:1px solid #00ff88;
color:#00ff88;
text-decoration:none;
}

/* NAV */
.nav{
display:flex;
justify-content:center;
gap:10px;
padding:15px;
}

.nav button{
background:#12121a;
border:1px solid #222;
color:white;
padding:10px 14px;
cursor:pointer;
}

.nav button:hover{
border-color:#00ff88;
color:#00ff88;
}

/* CONTENT */
.content{
padding:40px;
}

.page{display:none;}
.page.active{display:block;}

.card{
background:#151520;
padding:15px;
margin:10px 0;
border-left:3px solid #00ff88;
}
